---
title: About the Pupper
---

<h2>ABOUT THE PUPPER</h2>

<p class="textoCentrado"><span><strong>GoldenDog Linux</strong></span> is a Linux Workstation that aims to be friendly, simple to use and yet provide all the integrity, stability and reliability that a platform like <span><strong>Debian Stable</strong></span> has to offer.</span></p> <br/>

<span class="textoCentrado"><h3>Why Debian?</h3></span>

</br>

There were a few reasons why. Primarily because I had been a Debian user for most part of my life, starting around 2004, and had used it as my daily driver up until the year 2019 where I started
using Fedora too. These 15 years of experience made me very familiar with how this operating system works. <br/>

GoldenDog is not the only work that uses Debian as platform. Many popular systems such as Ubuntu, Mint and Kali use it too. This is because at its core, it's very meticulously planned and maintained, making it
an excellent choice for a reliable engine that adapts to almost every case of use.<br/><br/>

Debian also encourages derivative works that use their software to use their official mirrors. This is why GoldenDog runs exclusively official debian software and mirrors, taking advantage of the frequent updates
and patches that Debian provides, specially since this is a one-woman project that I work on when time allows, and I could not be packaging thousands of .deb packages all by myself on a regular basis, using only official
debian packages makes everyone happy.

</br></br></br>

<span><h2>Technical Details</h2></span>

<span><h4>System Requeriments</h4></span>
<hr/>
<span><h5>Minimum</h5></span>
<ul>
<li>Memory: 2GB</li>
<li>CPU Cores: 2</li>
<li>Disk Space: 50GB</li>
</ul>

<span><h5>Recommended</h5></span>
<ul>
<li>Memory: 8GB</li>
<li>CPU Cores: 4</li>
<li>Disk Space: 120GB</li>
</ul>

</br>

<span><h4>Video Support</h4></span>
<hr/>
</br>

GoldenDog uses Debian's driver modules, so both support for NVIDIA and AMD GPUs are available
In a terminal window type:</br>

<p><span><h5>For NVIDIA:</h5></span></p>
<code>sudo gdl install nvidia-driver</code>

<p><span><h5>For AMD:</h5></span></p>
<code>sudo gdl install amdgpu</code>

</br></br>

<span><h4>Snap and Flatpak Support</h4></span>
<hr/>
By default neither flatpak nor snap are installed. 
They can be installed easily via gdl/apt from a terminal window.

<p><span><h5>For Snapd:</h5></span></p>
<code>sudo gdl install snapd</code>

<p><span><h5>For Flatpak:</h5></span></p>
<code>sudo gdl install flatpak</code>

</br>
</br>

<span><h4>gdl/apt package manager</h4></span>
<hr/>
<br/>
Right now GDL uses the APT package manager. At this point gdl is merely an alias for apt. You can use them interchangeably.

</br></br><code>goldendog-update</code></br>

<p><span>This command is a text user interface that lists packages that could be upgraded and lets you pick them individually. It might be 
useful for when you don't want to perform a full upgrade and select specific packages instead, for when, for instance, you want to avoid upgrading to a certain kernel 
version or anything.</span></p>

</br></br>

<span><h3>Help and Support</h3></span>
<hr/>
<p><span>Right now all support is handled via github issue tickets.</br> Please visit <a href="https://github.com/goldendoglinux/support/issues" target="_blank">Click here to report a bug.</a><br/>
Support is volunteer-driven, so please be patient for a reply, and be kind to those offering support. </br></br>Thank you!</span></p>

<p class="aclaracion textoCentrado">Alternatively, you can visit the <a href="/community/">Community Section</a> to learn how to connect to my Discord server, and/or GoldenDog official IRC channel </p>

<p class="textoCentrado"><span>I am curious about the name, the story behind and your other projects and volunteering</span></p>

<h5>To learn more about how the project came to be, the other projects I volunteer for, such as RockyLinux and OpenInfra Check out <a href="https://lexi.lat">My Blog (in Spanish)</a>
or the <a href="/news">News Section</a> where I will be posting articles, thoughts, anecdotes and things related to Open Source and Linux in general regularly.</h5><br/>


<p class="textoCentrado"><b>Have fun using Goldendog!!</b></p>

<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
