.button a, input[type=submit] {
	color: #2a1230;
	border-radius: 3px;
	padding: 10px 30px;
	text-decoration: none;
	background: $brand-color;
}

.button a:hover, input[type=submit]:hover {
	cursor: pointer;
}

.button.alt a {
	padding: 16px 50px;
	border-radius:30px;
	color:#1b0b1f;
	background:#cf9821;
	transition:all 0.7s;
	font-size: 15px;

	@media (max-width: 400px) {
        font-size:12px;
    }
	
}

.button.alt a:hover {
	border:none;
	color:#000;
	background:#f8bd3c;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
	margin: 20px 0 0 0;
}

label, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 150px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
	font-size: 1em;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
