.staff {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;

	li {
		margin-top:20px;
		padding: 10px;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 45%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 29%);
		}

	}

	.square-image {
		/* Temportal hasta agregar imagenes */
		display: none;

		width: 200px;
		height: 200px;
			img {
				border-radius: 200px;
			}
		}

	.name {
		font-size: 1.5em;
		margin-top: 10px;
	}

	.position {
		color: #666;
	}
}
