---
layout: default
title: Acerca de GoldenDog
description: >-
---
<style>
	body {
		background: #fff;
	}

	h1,h2,h3,h4,p,span{
		margin-left: 20px;
	}

	p {
		font-size: 15px;
		color: #000;
	}
</style>

<h1 style="text-align: center; margin-top: 80px;">Acerca de GoldenDog</h1>

<h1 style="margin-top: 50px;">Acerca de GoldenDog</h1>

<p><b>GoldenDog Linux</b>es una Estación de Trabajo Linux que pretende ser amigable, simple de usar y, al mismo tiempo, proporcionar toda la integridad, estabilidad y fiabilidad que una plataforma como <b>Debian Stable</b> tiene para ofrecer.</p><br/><br/>

<h3>¿Por qué Debian?</h3>

<p>Hubo algunas razones por las cuales. Principalmente porque he sido usuario de Debian durante la mayor parte de mi vida, comenzando alrededor de 2004, y lo usé como mi sistema principal hasta el año 2019, cuando comencé a usar Fedora también. Estos 15 años de experiencia me hicieron muy familiar con cómo funciona este sistema operativo. <br/>

GoldenDog no es el único trabajo que utiliza Debian como plataforma. Muchos sistemas populares como Ubuntu, Mint y Kali también lo utilizan. Esto se debe a que, en su núcleo, está muy meticulosamente planificado y mantenido, lo que lo convierte en una excelente opción para un motor fiable que se adapta a casi cualquier caso de uso.<br/><br/>

Debian también fomenta trabajos derivados que usan su software para usar sus espejos oficiales. Es por eso que GoldenDog ejecuta exclusivamente software y espejos oficiales de Debian, aprovechando las frecuentes actualizaciones y parches que Debian proporciona, especialmente porque este es un proyecto de una sola persona en el que trabajo cuando el tiempo lo permite, y no podría empaquetar miles de paquetes .deb yo sola de forma regular. Usar solo paquetes oficiales de Debian hace feliz a todos.</p>

<h3>Detalles Técnicos</h3>

<h4>Requisitos Mínimos</h4>
<ul>
<li>Memoria: 2GB</li>
<li>Núcleos de CPU: 2</li>
<li>Espacio en Disco: 50GB</li>
</ul>
<h4>Requisitos Recomendados</h4>
<ul>
<li>Memoria: 8GB</li>
<li>Núcleos de CPU: 4</li>
<li>Espacio en Disco: 120GB</li>
</ul>

<h4>Soporte de Video</h4>
<p>GoldenDog utiliza los módulos de controladores de Debian, por lo que está disponible el soporte tanto para GPUs NVIDIA como AMD. En una ventana de terminal, escribe:</p>
<p>Para NVIDIA: <code>sudo gdl install nvidia-driver</code></p>
<p>Para AMD: <code>sudo gdl install amdgpu</code></p>

<h4>Soporte para Snap y Flatpak</h4>
<p>Por defecto, ni flatpak ni snap están instalados. Se pueden instalar fácilmente a través de gdl/apt desde una ventana de terminal.</p>

<p>Para Snapd: <code>sudo gdl install snapd</code></p>
<p>Para Flatpak: <code>sudo gdl install flatpak</code></p>

<h4>Gestor de paquetes gdl/apt</h4>

<p>Actualmente, GDL utiliza el gestor de paquetes APT. En este momento, gdl es simplemente un alias para apt. Puedes usarlos indistintamente.</p>

<h4>goldendog-update</h4> 
<p>Este comando es una interfaz de usuario de texto que lista los paquetes que podrían ser actualizados y te permite seleccionarlos individualmente. Podría ser 
útil cuando no quieras realizar una actualización completa y seleccionar paquetes específicos en su lugar, por ejemplo, cuando deseas evitar actualizar a una cierta versión del kernel 
o cualquier otra cosa.</p>

<h2>Ayuda y Soporte</h2>
<p>Actualmente, todo el soporte se maneja a través de tickets de problemas en GitHub. Por favor visita <a href="https://github.com/goldendoglinux/support/issues">https://github.com/goldendoglinux/support/issues</a><br/>
El soporte es manejado por voluntarios, así que por favor ten paciencia para recibir una respuesta y sé amable con quienes ofrecen soporte. ¡Gracias!</p>

<p> Alternativamente, puedes visitar la <a href="/es/community/">Sección de la Comunidad</a> para aprender cómo conectarte a mi servidor de <b>Discord</b>, y/o al canal IRC oficial de GoldenDog </p>

<h3>Tengo curiosidad por el nombre, la historia detrás y tus otros proyectos y voluntariado</h3>

<p>Para saber más sobre cómo surgió el proyecto, los otros proyectos en los que hago voluntariado, como <b>RockyLinux</b> y <b>OpenInfra</b>, revisa <a href="https://lexi.lat">Mi Blog (en Español)</a>
o la <a href="/es/news/">Sección de Noticias</a>, donde estaré publicando artículos, pensamientos, anécdotas y cosas relacionadas con el Código Abierto y Linux en general, regularmente. <br/><br/><br/></p>

<p><b>¡Diviértete usando Goldendog!</b></p>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><b>&#9998;</b> 
Gestionar Miembros del Equipo</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>