/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Bold Hues - Light Mode (using darker versions for readability) */
  --ifm-color-primary: #D1007E;
  --ifm-color-primary-dark: #B8006F;
  --ifm-color-primary-darker: #AD0069;
  --ifm-color-primary-darkest: #8F0057;
  --ifm-color-primary-light: #EB008E;
  --ifm-color-primary-lighter: #F50094;
  --ifm-color-primary-lightest: #FF1BA4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Bold Hues - Dark Mode (Vibrant colors) */
[data-theme='dark'] {
  --ifm-color-primary: #FF1B8D;
  /* Vibrant Pink */
  --ifm-color-primary-dark: #E6007A;
  --ifm-color-primary-darker: #D90073;
  --ifm-color-primary-darkest: #B3005F;
  --ifm-color-primary-light: #FF4DA6;
  --ifm-color-primary-lighter: #FF66B3;
  --ifm-color-primary-lightest: #FF99CC;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* Adding some gradients and background colors from the palette */
  --ifm-background-color: #0d001a;
  --ifm-navbar-background-color: #1a0033;
  --ifm-footer-background-color: #0b0014;
}