/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fcc203; /* Golden Yellow */
  --ifm-color-primary-dark: #e3af03;
  --ifm-color-primary-darker: #d6a503;
  --ifm-color-primary-darkest: #b08802;
  --ifm-color-primary-light: #fcd236;
  --ifm-color-primary-lighter: #fcdb4f;
  --ifm-color-primary-lightest: #fdee9c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fcc203;
  --ifm-color-primary-dark: #e3af03;
  --ifm-color-primary-darker: #d6a503;
  --ifm-color-primary-darkest: #b08802;
  --ifm-color-primary-light: #fcd236;
  --ifm-color-primary-lighter: #fcdb4f;
  --ifm-color-primary-lightest: #fdee9c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
